# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

#ideaFiles
!/.idea

#Composer Vendor files
!/vendor

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.idea/.name
.idea/encodings.xml
.idea/LogosDB.iml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/ClassLoader.php
vendor/composer/include_paths.php
vendor/composer/installed.json
